.tourism-page {
  .ant-typography {
    margin-bottom: 0 !important;
  }
  .ant-col {
    font-size: 1.25rem;
  }
  .slick-prev::before, .slick-next::before {
    color: black !important;
  }
}