.auth-page {
  width: 24rem;/* 384px */
  padding: 1.5rem 2.5rem 2rem 2.5rem;/* 24px 40px 32px 40px */
  font-family: 'Poppins', sans-serif;
  .ant-input {
    padding: 0.125rem !important;
  }
} 
