.admin-page {
  padding-top: 5.75rem;
  .ant-tabs-tab {
    font-size: 1rem/* 16px */;
  }

  .ant-breadcrumb-link {
    cursor: pointer;
  }
  .ant-breadcrumb-link:hover {
    color: var(--color-text-primary);
  }

  // .business-overview, .business-details {
  //   label::after,
  //   label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  //     display: none !important;
  //   }
  //   label {
  //     margin-right: 0.75rem;
  //   }
  // }
}